
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= @dog.name %> :: Dog Shelter</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/sticky-footer/sticky-footer.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>Dog Shelter</h1>
      </div>
      <p class="lead">All About <strong><%= @dog.name %></strong>!!</p>

      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="<%= @dog_image.shuffle.first %>" alt="...">
          </a>
        </div>
        <div class="media-body">
          <p>Breed: <%= @dog.breed %><br/>
          Color: <%= @dog.color %><br/>
          Size: <%= @dog.size %><br/>
          Age: <%= @dog.age %><br/></p>
        </div>
      </div>

      
      <hr />

      <p><a href="<%= @dog.id %>/edit" class="btn btn-info pull-left" style="margin-right:10px"><span class="glyphicon glyphicon-text-color" aria-hidden="true"></span> Edit This Dog</a></p>

      <p><a href="/" class="btn btn-primary pull-left">Go Back <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></p>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; Steven Brand 2015</p>
      </div>
    </footer>


  </body>
</html>
