<div id="list-items">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            	<%= form_for @items do |f| %>

            	<div class="row control-group">
            	    <div class="form-group col-xs-12 floating-label-form-group controls">
					  <%= f.text_field :name, :class => 'form-control', :placeholder => 'Item Name' %>
					 </div>
                    </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
					  <%= f.date_field :expiration_date, :class => 'form-control', :placeholder => 'Item Expiration Date' %>
				 </div>
                </div>	  
                <br />
                <div class="row">
                    <div class="form-group col-xs-12">
                    <%= f.hidden_field :user_id, :value => current_user.id %> 
					  <%= f.submit 'Add', :class => 'btn btn-success btn-lg' %>
					 </div>
				</div>
			  <% end %>
        </div>
    </div>
</div>



